
.jump {
    left: -99999px;
    padding: 3px 6px;
    position: absolute;
    top: 0;
}
.jump:focus {
    left: 40%;
}
#docs-main .content {
    line-height: 1.4;
}
#docs-main .content h2, #docs-main .content h3, #docs-main .content h4, #docs-main .content h5, #docs-main .content h6 {
    margin-bottom: -0.3em;
}

#environment_specific_sec .content {
    line-height: 1.4;
}
#environment_specific_sec .content h2, #environment_specific_sec .content h3, #environment_specific_sec .content h4, #environment_specific_sec .content h5, #environment_specific_sec .content h6 {
    margin-bottom: -0.3em;
}


#developer_sec_id .content {
    line-height: 1.4;
}

#dev_sec_id .content {
    line-height: 1.4;
}
#developer_sec_id .content h2, #developer_sec_id .content h3, #developer_sec_id .content h4, #developer_sec_id .content h5, #developer_sec_id .content h6 {
    margin-bottom: -0.3em;
}

#dev_sec_id .content h2, #dev_sec_id .content h3, #dev_sec_id .content h4, #dev_sec_id .content h5, #dev_sec_id .content h6 {
    margin-bottom: -0.3em;
}

#operation_config_sec .content {
    line-height: 1.4;
}
#operation_config_sec .content h2, #operation_config_sec .content h3, #operation_config_sec .content h4, #operation_config_sec .content h5, #operation_config_sec .content h6 {
    margin-bottom: -0.3em;
}


#frontside_handler_sec .content {
    line-height: 1.4;
}
#frontside_handler_sec .content h2, #docs-main .content h3, #docs-main .content h4, #docs-main .content h5, #docs-main .content h6 {
    margin-bottom: -0.3em;
}

.link-apidocs {
    display: block;
    font-size: 18px;
    margin: 0 0 1em;
    padding-bottom: 4px;
    padding-top: 5px;
}
.toc code, .toc kbd, .toc samp {
    font-size: 100%;
}
.toc li {
    font-weight: bold;
}
.toc li li {
    font-weight: normal;
}
.intro, #docs-main .example {
    margin-bottom: 2em;
}
#docs-main .example {
    border-radius: 1px;
    box-shadow: 0 0 3px #000000;
    padding: 1em;
}

#operation_config_sec .example {
    border-radius: 1px;
    box-shadow: 0 0 3px #000000;
    padding: 1em;
}
#developer_sec_id .example {
    border-radius: 1px;
    box-shadow: 0 0 3px #000000;
    padding: 1em;
}
#dev_sec_id .example {
    border-radius: 1px;
    box-shadow: 0 0 3px #000000;
    padding: 1em;
}

#environment_specific_sec .example {
    border-radius: 1px;
    box-shadow: 0 0 3px #000000;
    padding: 1em;
}

#frontside_handler_sec .example {
    border-radius: 1px;
    box-shadow: 0 0 3px #000000;
    padding: 1em;
}

.intro {
    background: #f0f1f8 none repeat scroll 0 0;
    border: 1px solid #d4d8eb;
    border-radius: 3px;
    padding: 0 1em;
}
.notice {
    background: #faf3d1 none repeat scroll 0 0;
    border: 1px solid #eac9a9;
    box-shadow: 0 0 5px #ccc8b3;
    margin: 1em auto;
    padding: 0 1em;
}
.newwindow {
    text-align: center;
}
@media all and (max-width: 550px) {
.jump {
    font-size: 11px;
    left: auto;
    right: 0;
    top: 5.2em;
}
.jump:focus {
    left: auto;
}
}
