
html, body {
    height: 100%;
}
html {
    background: #fff none repeat scroll 0 0;
    color: #333;
    overflow-y: scroll;
}
body {
    font: 14px/1.4 "PT Sans","DejaVu Sans","Bitstream Vera Sans",Verdana,sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: #356de4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #6d93e4;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #afafaf -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}
p, pre.code, pre.terminal, pre.cmd {
    margin: 1.2em 0;
}
dd p, td p {
    margin-bottom: 0;
}
dd p:first-child, td p:first-child {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #eb8c28;
    font-weight: bold;
    line-height: 1.1;
    margin: 1.1em 0 0.5em;
}
h1 {
    color: #30418c;
    font-size: 184.6%;
    margin: 0.75em 0 0.5em;
}
h2 {
    font-size: 153.846%;
}
h3 {
    font-size: 138.462%;
}
h4 {
    border-bottom: 1px solid #dbdfea;
    font-size: 115.385%;
    font-weight: normal;
    padding-bottom: 2px;
}
h5, h6 {
    font-size: 107.692%;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Consolas","Courier New",Courier,monospace;
    font-size: 92.308%;
    line-height: 1.35;
}
p code, p kbd, p samp {
    background: #fcfbfa none repeat scroll 0 0;
    border: 1px solid #efeeed;
    padding: 0 3px;
}
a code, a kbd, a samp, pre code, pre kbd, pre samp, table code, table kbd, table samp, .intro code, .intro kbd, .intro samp, .toc code, .toc kbd, .toc samp {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    padding: 0;
}
pre.code, pre.terminal, pre.cmd, #doc pre.prettyprint {
    overflow-x: auto;
    padding: 0.3em 0.6em;
}
pre.code, #doc pre.prettyprint {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fcfbfa none repeat scroll 0 0;
    border-color: #efeeed;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
}
pre.terminal, pre.cmd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f0effc none repeat scroll 0 0;
    border-color: #d0cbfb;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
}
#deprecated {
    background: #faf3d1 none repeat scroll 0 0;
    border: 1px solid #eac9a9;
    box-shadow: 0 0 5px #ccc8b3;
    letter-spacing: normal;
    margin: 15px;
    padding: 0;
    text-align: center;
}
#deprecated ul {
    display: block;
    padding-left: 2em;
    padding-top: 0.1em;
}
#deprecated ul li {
    list-style-type: disc;
    margin-left: 1em;
}
#deprecated strong {
    font-weight: bold;
}
#gallery pre.terminal, #gallery pre.cmd {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #d0cbfb;
    color: #fff;
    font-size: 85%;
}
pre code, pre kbd, pre samp {
    font-size: 100%;
}
.noselect {
    -moz-user-select: none;
}
dd {
    margin: 0.2em 0 0.7em 1em;
}
dl {
    margin: 1em 0;
}
dt {
    font-weight: bold;
}
caption, th {
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #fff;
    padding: 5px 12px;
    vertical-align: top;
}
td {
    background: #e6e9f5 none repeat scroll 0 0;
}
td dl {
    margin: 0;
}
td dl dl {
    margin: 1em 0;
}
td pre:first-child {
    margin-top: 0;
}
th {
    background: #d2d7e6 none repeat scroll 0 0;
    border-bottom: 0 none;
    border-top: 0 none;
    color: #000;
    font-weight: bold;
    line-height: 1.3;
    white-space: nowrap;
}
a .hover-border {
    border: 1px solid #cfcfcf;
}
a:hover .hover-border {
    border: 1px solid #d4d8eb;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button, .button:visited {
    color: #444;
}
.button {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f5f5f5 0px, #efefef 50%, #e5e5e5 51%, #dfdfdf 100%) repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-weight: bold;
    padding: 4px 13px 3px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap;
}
.button:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #6396d8 0px, #5a83bc 50%, #547ab7 51%, #466899 100%) repeat scroll 0 0;
    border-color: #466899;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #222;
}
.button.download {
    display: block;
    font-size: 18px;
    margin: 0 0 1em;
    padding: 9px 17px 8px;
}
.clearfix {
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.column {
    margin-right: 10px;
}
.components {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 17px;
}
.components li {
    color: #e2e2eb;
}
.gravatar {
    border: 1px solid #afafaf;
}
.hidden {
    display: none;
}
.hoverable {
    cursor: pointer;
}
.hoverable-group {
    position: relative;
}
.more {
    text-align: right;
}
.off-left {
    left: -9999px;
    position: absolute;
}
.right {
    float: right;
}
.shadow-box {
    background: #f9f9fc none repeat scroll 0 0;
    border: 1px solid #d4d8eb;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    padding: 6px 10px;
}
.shadow-box .hd h5 {
    background: #e5e6f1 none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    color: #5e6ba4;
    font-size: 107.692%;
    font-weight: bold;
    margin: 0;
    padding: 4px 7px 5px;
}
.spaced li {
    margin: 0.8em 0;
}
.component-grid {
    margin: 1em 0 0 -7px;
}
.component-grid .components {
    list-style: outside none none;
    padding: 0;
}
.component-grid .desc {
    font-size: 13px;
    line-height: 1.3;
    margin: 2px 0 0;
}
.component-grid .name {
    font-weight: bold;
}
.component-grid .component a {
    border: 1px solid transparent;
    display: block;
    margin-bottom: 3px;
    padding: 3px 7px 5px;
    text-decoration: none;
}
.component-grid .component a .desc {
    color: #333;
}
.component-grid .component a:hover {
    background: #e2eefb none repeat scroll 0 0;
    border-color: #bdd6f4;
}
.component .beta {
    color: #999;
    font-size: 9px;
    text-decoration: none;
    vertical-align: top;
}
.mac-only, .pc-only {
    visibility: hidden;
}
.pc .mac-only, .mac .pc-only {
    display: none;
}
.mac .mac-only, .pc .pc-only {
    visibility: visible;
}
#doc, #wrap {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 1500px;
    min-height: 100%;
    min-width: 960px;
    position: relative;
}
#hd {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #dcdbd9 0px, #f6f5f3 100%) repeat scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
}
#hd .content {
    padding: 0 15px 1px 20px;
}
#hd-logo {
    background: rgba(0, 0, 0, 0) url("/img/yui-logo.png") no-repeat scroll 0 0;
    border: 0 none;
    display: inline-block;
    height: 52px;
    margin-top: 15px;
    width: 117px;
}
#hd .dev-banner {
    color: #a8a8a8;
    font-size: 26px;
    line-height: 52px;
    margin-left: 10px;
    vertical-align: 35%;
}
#userinfo {
    color: #555;
    font-size: 12px;
    list-style: outside none none;
    margin-top: 5px;
    padding: 0;
    text-align: right;
}
#userinfo li {
    border-left: 1px solid #c6c4c4;
    display: inline;
    line-height: 1.2;
    padding: 0 4px 0 7px;
}
#userinfo li:first-child {
    border: 0 none;
}
#userinfo .gravatar {
    height: 16px;
    margin-right: 3px;
    vertical-align: -5px;
    width: 16px;
}
#userinfo .username {
    font-weight: bold;
}
#hd .yui3-aclist {
    z-index: 4;
}
#main-search {
    margin-top: 12px;
}
#main-search .search-input {
    float: right;
    margin-right: 2px;
}
.search-input {
    width: 240px;
}
.search, .search li {
    margin: 0;
}
.search .result, .search .result .title {
    color: #333;
    font-size: 13px;
}
.search .result {
    padding: 3px 0;
    position: relative;
}
.search .result::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.search .yui3-aclist-content {
    max-height: 350px;
    overflow-y: auto;
}
.search .yui3-aclist-item-active .result, .search .yui3-aclist-item-active .result .title {
    color: #fff;
}
.search .result.class .className, .search .result.module .className {
    display: none;
}
.search .result a {
    color: inherit;
    text-decoration: inherit;
}
.search .result .className, .search .result .type {
    color: #afafaf;
    font-size: 11px;
}
.search .result .type {
    background: #bfbfbf none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    padding: 1px 4px;
}
.search .yui3-aclist-item-active .result .type {
    background: #fff none repeat scroll 0 0;
    color: #333;
}
.search .result .description {
    font-size: 12px;
}
.search .result .title {
    display: inline;
    margin: 0 50px 0 0;
}
.search .result .type {
    position: absolute;
    right: 0;
    top: 3px;
}
.search .result .yui3-highlight {
    color: #00f;
}
.search .yui3-aclist-item-active .yui3-highlight {
    color: #bfdaff;
}
#main-nav {
    line-height: 1.5;
    margin: 12px 0 -2px;
}
#main-nav .nav, #main-nav .nav-submenu, #subnav ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#main-nav .nav {
    position: relative;
    z-index: 3;
}
#main-nav .nav a {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f4f0ec 0px, #d6d2ce 100%) repeat scroll 0 0;
    border-bottom: 1px solid #dedcd9;
    border-right: 1px solid #cdcbc8;
    border-top: 1px solid #dadada;
    color: #333;
    display: block;
    padding: 3px 10px 4px;
    text-decoration: none;
}
#main-nav .nav a:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f0eeeb 0px, #eae8e5 100%) repeat scroll 0 0;
}
#main-nav .nav-tab {
    float: left;
    position: relative;
}
#main-nav .nav .nav-tab:first-child a, #main-nav .nav .nav-break a {
    border-left: 1px solid #dadada;
}
#main-nav .nav .nav-tab:first-child .nav-child a, #main-nav .nav .nav-break .nav-child a, #main-nav .nav-child:first-child a {
    border-left: 0 none;
}
#main-nav .nav-active a {
    border-bottom-color: #fff;
    border-top: 2px solid #8193c9;
    font-weight: bold;
    padding-bottom: 4px;
}
#main-nav .nav-active a, #main-nav .nav-active a:hover {
    background: #fff none repeat scroll 0 0;
    filter: none;
}
#main-nav .nav-active .nav-child a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    filter: none;
    font-weight: normal;
}
#main-nav .nav-break {
    margin-left: 15px;
}
#main-nav .nav-submenu {
    background: #f5f3f0 none repeat scroll 0 0;
    border: 1px solid #dedcd9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
    left: -1px;
    min-width: 130px;
    padding: 3px 0;
    position: absolute;
    visibility: hidden;
    z-index: 3;
}
#main-nav .nav-tab-focus .nav-submenu, #main-nav .nav-tab-hover .nav-submenu {
    visibility: visible;
}
#main-nav .nav-break.nav-tab-focus .nav-submenu, #main-nav .nav-break.nav-tab-hover .nav-submenu, #main-nav .nav-tab-focus:first-child .nav-submenu, #main-nav .nav-tab-hover:first-child .nav-submenu {
    left: 0;
}
#main-nav .nav-child {
    display: block;
    float: none;
    white-space: nowrap;
}
#main-nav .nav-child a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-color: transparent -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    display: block;
    filter: none;
    padding-right: 18px;
}
#main-nav .nav-child a:hover {
    background: #fff none repeat scroll 0 0;
    border-color: #eaeaea;
}
#main-nav .nav-yuiconf a {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #727ce7 0px, #475da4 100%) repeat scroll 0 0;
    border: 1px solid #293e83;
    color: white;
}
#main-nav .nav-yuiconf a:hover, #main-nav .nav-yuiconf a:focus {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #475da4 0px, #727ce7 100%) repeat scroll 0 0;
}
#subnav, #breadcrumbs {
    margin: 0 20px;
}
#subnav {
    margin-left: 0;
}
.subnav li {
    display: inline;
    margin-right: 12px;
}
.subnav-active {
    font-weight: bold;
}
.breadcrumbs {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.breadcrumbs::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.crumb, .separator {
    float: left;
}
.crumb {
    white-space: nowrap;
}
.separator {
    color: #cacaca;
    padding: 0 6px;
}
.project-version {
    color: #cfcfcf;
    position: absolute;
    right: 20px;
    top: 7px;
}
#bd {
    padding: 7px 0 130px;
    position: relative;
    width: 99%;
}
.body-heading, #bd .content {
    padding: 0 16px 0 20px;
}
.body-heading {
    margin-bottom: 0.3em;
}
.body-heading h1 {
    margin: 0.5em 0 0;
}
.article ul {
    margin-top: -0.5em;
}
.sidebar {
    padding: 0 15px 0 10px;
}
.sidebox {
    border: 1px solid #d4d8eb;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin: 0 0 15px;
    padding-bottom: 1px;
}
.sidebox .hd {
    background: #e5e6f1 none repeat scroll 0 0;
    border-radius: 3px 3px 0 0;
    padding: 4px 7px 5px;
}
.sidebox .bd {
    background: #f9f9fc none repeat scroll 0 0;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    padding: 10px 8px;
}
.sidebox .hd h2 {
    color: #30418c;
    font-size: 107.692%;
    font-weight: bold;
    margin: 0;
}
.sidebox li {
    color: #d4d5e3;
    list-style-type: disc;
}
.sidebox ol, .sidebox ul {
    margin: 0;
    padding-left: 14px;
}
.sidebox ol ol, .sidebox ol ul, .sidebox ul ol, .sidebox ul ul {
    margin: 0;
    padding-left: 14px;
}
#ft {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f6f5f3 0px, #dcdbd9 100%) repeat scroll 0 0;
    border-top: 1px solid #dfddda;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.copyright {
    font-size: 13px;
    margin: 1em 0;
    padding: 1em 2em 1em 1.5em;
}
#downloads {
    min-width: 700px;
}
#downloads ul li {
    list-style-type: none;
}
#downloads ul li a {
    background-image: url("/img/archive_zip.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 20px;
}
#downloads ul li strong {
    color: #ccc;
    font-size: 80%;
    font-weight: normal;
    margin-left: 4px;
}
#downloads ul li em {
    float: right;
    font-size: 80%;
    font-style: normal;
    margin-right: 2em;
}
#dl_list .item {
    margin: 1em;
    padding: 0.5em;
}
#dl_list .item img {
    margin-right: 5px;
    position: relative;
    top: 6px;
}
#dl_list .item a {
    color: #1f2c7b;
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
}
#dl_list .item p {
    font-size: 90%;
}
.logo-small {
    height: 22px;
    width: 50px;
}
.yui3-u-1-2 {
}
.yui3-u-1-4 {
}
.yui3-u-3-4 {
}
@media all and (min-width: 1201px) {
#hd, #ft {
    border: 1px solid #dfdfdf;
}
#hd {
    border-radius: 0 0 6px 6px;
    border-top: 0 none;
}
#ft {
    border-bottom: 0 none;
    border-radius: 6px 6px 0 0;
}
}
@media all and (max-width: 550px) {
img {
    max-width: 100%;
}
td, th {
    padding: 3px 5px;
}
.dev-banner {
    display: none;
}
.project-version {
    right: 3px;
    top: 9px;
}
.search-input {
    width: 150px;
}
#hd .content {
    padding: 0 3px 1px 5px;
}
#bd .content {
    padding: 0 2px 0 5px;
}
#bd .yui3-u-1-3, #bd .yui3-u-2-3, #bd .yui3-u-1-4, #bd .yui3-u-3-4, #bd .yui3-u-1-5, #bd .yui3-u-2-5, #bd .yui3-u-3-5, #bd .yui3-u-1-6, #bd .yui3-u-5-6 {
    display: block;
    width: auto;
}
#hd .yui3-u-1-4, #hd .yui3-u-3-4 {
    width: 50%;
}
#breadcrumbs, #subnav {
    margin: 0 2px 0 5px;
}
#main-nav .nav-break {
    margin-left: 0;
}
#main-nav .nav-tab {
    font-size: 12px;
}
}
@media not all {
#hd-logo {
    background-image: url("/img/yui-logo-2x.png");
    background-size: contain;
}
}
@media print {
pre.code, pre.terminal, pre.cmd, #doc pre.prettyprint, p code, p kbd, p samp {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    overflow: visible;
    padding: 0;
}
pre.code, pre.terminal, pre.cmd, #doc pre.prettyprint {
    padding-left: 1em;
}
#breadcrumbs, #hd, #ft .links, .no-print, .sidebar {
    display: none;
}
#ft {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    position: static;
}
.print-max-width {
    width: 100%;
}
}
